<?xml version="1.0" encoding="UTF-8"?>
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.hbm2ddl.auto">update</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
		<property name="hibernate.show_sql">true</property>
		<mapping resource="c/itcast/entity/user.hbm.xml" />
		<mapping resource="c/itcast/entity/customer.hbm.xml" />
		<mapping resource="c/itcast/entity/relationer.hbm.xml" />
		<mapping resource="c/itcast/entity/visit.hbm.xml" />
	</session-factory>
</hibernate-configuration>